GOOGLE_API_KEYS=key1,key2
DB_CONNECTION_STRING=postgresql://postgres:postgres@localhost:5432/postgres
DB_STATEMENT_CACHE_SIZE=0
HF=
EMBEDDING_MODEL_NAME=sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2
EMBEDDING_DIMENSIONS=128
EMBEDDING_DEVICE=cpu
